<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>
<form th:action="@{/logout}" th:method="POST">
    <button type="submit">Выйти из учетной записи</button>
</form>
<div th:switch="${users}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table border="1">
            <thead>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Age</th>
                <th>E-mail</th>
                <th>ROLE</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user, state : ${users}">
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getFirstName()}"></td>
                <td th:text="${user.getLastName()}"></td>
                <td th:text="${user.getAge()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td>
                    <th:block th:each="role : ${user.getRoles()}">
                        <span th:attr="data-role=${role.getName()}" th:text="${role.getName()}"></span>
                    </th:block>
                </td>
                <td><a th:href="@{admin/user-update/{id}(id=${user.id})}">Edit</a></td>
                <td><a th:href="@{admin/user-delete/{id}(id=${user.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/admin/user-create">Create user</a></p>
    </br>
    <a th:href="@{/admin/new-user}">Add Contact</a> |
</div>
</body>
</html>