<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<form th:action="@{/logout}" th:method="POST">
    <button type="submit">Выйти из учетной записи</button>
</form>
<h1>User, welcome spring boot security page!</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Age</th>
        <th>E-mail</th>
        <th>ROLE</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th th:text="${userAuth.id}" scope="row"></th>
        <th th:text="${userAuth.firstName}"></th>
        <th th:text="${userAuth.lastName}"></th>
        <th th:text="${userAuth.age}"></th>
        <td th:text="${userAuth.email}"></td>
        <td th:text="${userAuth.roles}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>